@keyframes moveBackground {
    0% {
        background-position: 0% 30%;
    }

    100% {
        background-position: 0% 0%;
    }
}

body {
    background-image: url('/assets/img/bulldog.jpg');
    background-size: 700px 500px;
    animation: moveBackground 10s linear infinite;
}

/* body {
    background: rgb(236, 181, 92);
    color: gray;
} */

a {
    color: inherit;
    text-decoration: none;
}

.wrap {
    background: rgba(255, 255, 255, 0.955);
    border: 1px solid black;
    border-radius: 10px;
    width: 27%;
    margin: 150px auto;
    text-align: center;
}

section {
    /* border: 3px solid red; */
    padding: 25px;

}

section.loginPage {
    display: flex;
    flex-direction: column;
    /* margin: 10px; */
    /* border: 3px solid blue; */

}

section>* {
    width: 70%;
    margin: 3px auto;
    border-radius: 5px;
}

section.loginPage h1 {
    /* border: 1px solid #000; */
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
}

section.loginPage #petstaLogo {
    width: 50px;
    /* border: 1px solid #000; */
    margin-right: 20px;
    margin-left: -5%;
    margin-bottom: 10px;
}

section.loginPage input {
    line-height: 35px;
}

section.loginOtherWay>* {
    /* border: 1px solid #000; */
    font-weight: bold;
    margin-bottom: 10px;
}

section.loginOtherWay .loginFB {
    color: rgb(13, 13, 196);
    font-size: 1.2em;
}

section.loginOtherWay .forgotPW {
    color: rgb(89, 166, 221);
}

section.joinUs>* {
    width: 90%;
    font-size: 1.2em;
    background: white;
}

section.joinUs p {
    /* border: 1px solid #000; */
    margin-top: 20px;
}