header .inner-header .menu-open .lnr-menu {
    font-size: 33px;
    margin-left: 15px;
}

/* header gnb style */
header .gnb {
    background: #000;
    color: white;
    height: 100vh;

    padding: 70px 30px;
    box-sizing: border-box;
    /* border: red; */

    position: fixed;
    z-index: 2000;
    right: -100%;
    top: 60px;
    transition: .5s;

    display: flex;
    flex-direction: row-reverse;
}

header .gnb.on {
    right: 0;
}

header .gnb .close {
    display: block;
    color: #fff;
}

header .gnb ul {
    margin-right: 20px;
}

header .gnb ul li {
    font-size: 30px;
    font-weight: 700;
    line-height: 2;
}

header .gnb ul li:hover,
header .gnb ul li.active {
    color: rgb(233, 101, 123);
}

/*======left side bar=========== */
aside.sidebar {
    background-color: green;
    width: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;
    height: 100vh;
    color: white;
    /* flex: 2 */
}

aside.sidebar .profile-box {
    border: 2px solid red;
    margin-top: 150px;
    padding: 30px;
    text-align: center;
}

aside.sidebar .profile-box .profile-img {
    border: 2px solid yellow;
    background: url('/assets/img/dog.png') no-repeat center;
    background-size: contain;
    border-radius: 50%;
    height: 300px;
}

aside.sidebar .profile-box h3 {
    border: 1px solid orange;
    margin: 20px;
}
