.wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 150px;
    /*background: url('../img/map.jpg') no-repeat ;*/
    background-color: #000000;
    background-size: cover;
}
/* 맵공통 */
#map {
    position: relative;
    width: 70%;
    height: 900px;
    margin: 0 auto;
}

/* 지역 이름 창 */
.area {
    font-size: 1.5em;
    font-weight: 700;

    position: absolute;
    background: #fff;
    border: 1px solid #cd5c5c;
    border-radius: 5px;

    top: -5px;
    left: 15px;
    padding: 2px;
}

.info {
    font-size: 12px;
    padding: 5px;
}

.info .title {
    font-weight: bold;
}

.pet-img {
    width: 300px;
    height: 300px;
}