/* =====Begin Profile Change body===== */
.profileChange {
    width: 60%;
    margin-top: 50px;

}
form {
    width: 500px;
    margin: 160px auto;
    /* border: 1px solid #000; */
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 85%;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

#choice {
    font-size: 0.8em;
}



/* End Profile Page body */

