/* CSS 코드 */
@keyframes moveBackground {
    0% {
        background-position: 0% 30%;
    }

    100% {
        background-position: 0% 0%;
    }
}

body {
    background-image: url('/assets/img/bulldog.jpg');
    background-size: 700px 500px;
    animation: moveBackground 10s linear infinite;
}

/* body {
    background: rgb(236, 181, 92);
    color: gray;
} */

a {
    color: inherit;
    text-decoration: none;
}

.loginWrap {
    background: rgba(255, 255, 255, 0.955);
    border: 1px solid black;
    border-radius: 10px;
    width: 27%;
    margin: 100px auto;
    text-align: center;
}

section {
    /* border: 3px solid red; */
    padding: 25px;

}

section>* {
    width: 80%;
    margin: 3px auto;
    border-radius: 5px;
}
/* 상단부 페북으로 로그인 */

section.logInwithFB{
    /* border: 1px solid #000; */
    padding-bottom: 0;
    line-height: 30px;
}

section.logInwithFB h1 {
    /* border: 1px solid #000; */
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

section.logInwithFB #petstaLogo {
    width: 50px;
    /* border: 1px solid #000; */
    margin-right: 20px;
    margin-left: -5%;
    margin-bottom: 10px;
}

section.logInwithFB>* {
    /* border: 1px solid #000; */
    font-weight: bold;
    margin-bottom: 10px;
}

section.logInwithFB button {
    background: rgb(61, 61, 227);
}

section.logInwithFB .loginFB {
    color: white;
    font-weight: 500;
    /* font-size: 1.2em; */
}
/* 회원가입 양식 */
section.signUpPage {
    display: flex;
    flex-direction: column;
    /* margin: 10px; */
    /* border: 3px solid blue; */

}

section.signUpPage input {
    line-height: 40px;
}

section.signUpPage button {
    background: rgb(61, 61, 227);
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
    margin-top: 10px;
}

/* 하단부 로그인 */
section.logIn>* {
    width: 90%;
    font-size: 1.2em;
    background: white;
}

section.logIn p {
    /* border: 1px solid #000; */
    margin-top: 20px;
}