section {
    width: 60%;
    /*border: 4px solid red;*/
    margin-top: 180px;
    margin-left: 20px;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: darkslategray;
    margin-bottom: 5px;
}

#formContent {
    border-radius: 10px;
    border: 2px double gray;
    padding: 10px;
    display: flex;
}

#formContent > * {
    border-radius: 10px;
}

.imgUpload {
    flex:1.5;
    /* border: 5px solid red; */
    margin-right: 20px;
}

.writePlace {
    flex:2;
    /* border: 5px solid blue; */
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    border: 1px solid black;
}

/* 파일 이미지 업로드 박스 구간 */
.upload-box {
    border-radius: 10px;
    margin: auto;
    height: 100%;
    border: 3px dotted gray;
    justify-content: center;
    /* align-content: center; */
    color: black;
    font-size: 0.8em;
    text-align: center;
    align-items: center;
    cursor: pointer;

}

#attachedImg {
    display: none;
}


/* 글씨 영역 */
label {
    display: inline-block;
    width: 180px;
    background: rgb(156, 174, 231);
    font-weight: 800;
    color: darkslategray;
    padding: 20px;

}
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    resize: vertical;
    /*background: green;*/
}

input[type="text"],
input[type="file"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    /*background: yellow;*/
}

.write1 {
    height: 60px;
}

.write2 {
    flex:3;
}

/* 버튼 영역 */
button {
    background-color: #4CAF50;
    color: white;
    letter-spacing: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    font-weight: 700;
    /* flex:1; */

}

button:hover {

    background-color: #09620c;
    color: white;

}