<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace에는 인터페이스 풀 네임(패키지+인터페이스이름) -->
<mapper namespace="company.friendsdog.dogcommunity.repository.BoardMapper">

    <select id="petFindAll" resultType="petBoard">
        SELECT  a.board_no, a.content,
        a.board_date_time, a.attached_img, a.likes, a.hits, b.pet_name, b.pet_photo
        FROM tbl_board a
        INNER JOIN tbl_pet b
        ON a.pet_no = b.pet_no
        <if test="type == 'content'">
            WHERE content LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="type == 'petName'">
            WHERE b.pet_name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        ORDER BY board_date_time DESC
    </select>

    <select id="petFindOne" resultType="petBoard">
        SELECT  a.board_no, a.content,
                a.board_date_time, a.attached_img, a.likes, a.hits, b.pet_name, b.pet_photo
        FROM tbl_board a
        INNER JOIN tbl_pet b
        ON a.pet_no = b.pet_no
        WHERE a.board_no = #{boardNo}
    </select>

    <insert id="save">
        INSERT INTO tbl_board
        (content, attached_img, pet_no, likes, pet_name, pet_photo)
        VALUES (#{content}, #{attachedImg}, #{petNo}, #{likes}, #{petName}, #{petPhoto})
    </insert>

    <delete id="delete">
        DELETE FROM tbl_board
        WHERE board_no = #{boardNo}
    </delete>

    <update id="modify">
        UPDATE tbl_board
        SET content = #{content}, attached_img = #{attachedImg}
        WHERE board_no = #{boardNo}
    </update>

    <select id="count" resultType="Long">
        SELECT COUNT(*)
        FROM tbl_board
        <if test="type == 'content'">
            WHERE content LIKE CONCAT('%', #{keyword}, '%')
        </if>

    </select>

    <update id="upHitsCount">
        update tbl_board
        set hits = hits + 1
        where board_no = #{boardNo}
    </update>


</mapper>