<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace에는 인터페이스 풀 네임(패키지+인터페이스이름) -->
<mapper namespace="company.friendsdog.dogcommunity.repository.PetBoardMapper">

    <select id="petFindAll" resultType="petBoard">
        SELECT
        user_nickname, board_no, title, content,
        board_date_time, attached_img, likes, hits
        FROM tbl_board
        <if test="type == 'title'">
            WHERE title LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="type == 'content'">
            WHERE content LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="type == 'tc'">
            WHERE title LIKE CONCAT('%', #{keyword}, '%')
            OR content LIKE CONCAT('%', #{keyword}, '%')
        </if>
        ORDER BY board_no DESC
    </select>

    <select id="petFindOne" resultType="petBoard">
        SELECT
        user_nickname, board_no, title, content,
        board_date_time, attached_img, likes, hits
        FROM tbl_board
        WHERE board_no = #{boardNo}
    </select>

    <insert id="save">
        INSERT INTO tbl_board
        (title, content, attached_img)
        VALUES (#{title}, #{content}, #{attachedImg})
    </insert>

    <delete id="delete">
        DELETE FROM tbl_board
        WHERE board_no = #{boardNo}
    </delete>

    <update id="modify">
        UPDATE tbl_board
        SET title = #{title}, content = #{content}, attached_img = #{attachedImg}
        WHERE board_no = #{boardNo}
    </update>

    <select id="count" resultType="int">
        SELECT COUNT(*)
        FROM tbl_board
        <if test="type == 'title'">
            WHERE title LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="type == 'content'">
            WHERE content LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="type == 'tc'">
            WHERE title LIKE CONCAT('%', #{keyword}, '%')
            OR content LIKE CONCAT('%', #{keyword}, '%')
        </if>
    </select>

    <update id="upHitsCount">
        update tbl_board
        set hits = hits + 1
        where board_no = #{boardNo};
    </update>
</mapper>