<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="company.friendsdog.dogcommunity.repository.PetMapper">

<!--    이웃 찾기-->
    <select id="findByAddress" resultType="neighbor">
        SELECT P.pet_no
             , P.pet_name
             , P.pet_age
             , P.pet_kind
             , P.pet_gender
             , P.pet_photo
             , P.pet_date_time
             , P.hashTag
             , U.addr
             , U.add_detail
        FROM tbl_pet P
                 LEFT JOIN tbl_user U
                           ON P.user_no = U.user_no
        WHERE U.addr = #{addr}
        ORDER BY pet_date_time DESC
    </select>

    <delete id="delete">
        DELETE FROM tbl_pet
        WHERE pet_no = #{petNo}
    </delete>

    <!--펫 사진 수정 update,modify -->
    <!--    set 수정할거  where이 조건-->

    <update id="modify">
        UPDATE tbl_pet
        SET pet_photo=#{petPhoto}
        WHERE pet_no=#{petNo}
    </update>

    <select id="findOne" resultType="petCard">

        SELECT
            pet_no,pet_name,pet_name,pet_age,pet_kind,
            pet_gender,pet_photo
        FROM tbl_pet
        WHERE pet_no = #{petNo}
    </select>

    <select id="userFindPet" resultType="petCard">
        SELECT
            user_no, pet_no,pet_name,pet_name,pet_age
               ,pet_kind,pet_gender,pet_photo
        FROM tbl_pet
        WHERE user_No = #{userNo}
    </select>

</mapper>
