<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="company.friendsdog.dogcommunity.repository.PlaceMapper">

    <select id="findAll" resultType="place">
        select place, addr, lng, lat, img, keyword, url
        from tbl_place
        where addr = #{addr}
    </select>

    <select id="findTheme" resultType="string">
        select keyword
        from tbl_place
        group by keyword
        ORDER BY COUNT(*) DESC
    </select>

    <select id="search" resultType="place">
    select place, addr, lng, lat, img, keyword, url
    from tbl_place
    where addr = #{addr} and keyword=#{keyword};
    </select>

</mapper>