<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="company.friendsdog.dogcommunity.repository.UserMapper">

    <!--   회원 저장-->
    <insert id="save">
        INSERT INTO tbl_user
        (user_no, id, pwd, user_name
         ,email, addr, add_detail
             , join_date)
        VALUES ( #{userNo}, #{id}, #{pwd}, #{userName}
               , #{email}, #{addr}, #{addDetail}
              ,#{joinDate})
    </insert>

    <!--    유저 찾기-->
    <select id="findUser" resultType="user">
        SELECT user_no,id, pwd ,user_name,email, addr, add_detail,join_date
        FROM tbl_user
        WHERE id = #{id}
    </select>

    <!--    유저 수정-->
    <update id="modify">
        UPDATE tbl_user
        SET pwd=#{pwd},
            email=#{email},
            phone_num=#{phoneNum},
            addr=#{addr}
        WHERE user_no = #{userNo}
    </update>

    <!--    회원가입 시 중복 검사  -->
    <select id="isDuplicate" resultType="int">
        SELECT COUNT(*)
        FROM tbl_user
        <if test="type=='email'">
            WHERE email=#{keyword}
        </if>
        <if test="type=='phoneNum'">
            WHERE phone_num=#{keyword}
        </if>
        <if test="type=='id'">
            WHERE id=#{keyword}
        </if>
    </select>


</mapper>