<!-- <%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %> -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>

    <link rel="stylesheet" href="/map.css">
</head>

<body>
    <section>

        <div class="mapbox">
            <img src="/map.jpg" alt="#">
        </div>
        <div class="buttonbox a1"><button class="choice b1">압구정동</button></div>
        <div class="buttonbox a2"> <button class="choice b2">신사동</button></div>
        <div class="buttonbox a3"> <button class="choice b3">논현동</button></div>
        <div class="buttonbox a4"> <button class="choice b4">청담동</button></div>
        <div class="buttonbox a5"> <button class="choice b5">삼성동</button></div>
        <div class="buttonbox a6"> <button class="choice b6">역삼동</button></div>
        <div class="buttonbox a7"> <button class="choice b7">대치동</button></div>
        <div class="buttonbox a8"> <button class="choice b8">도곡동</button></div>
        <div class="buttonbox a9"> <button class="choice b9">개포동</button></div>
        <div class="buttonbox a10"> <button class="choice b10">일원동</button></div>
        <div class="buttonbox a11"> <button class="choice b11">수서동</button></div>
        <div class="buttonbox a12"> <button class="choice b12">자곡동</button></div>
        <div class="buttonbox a13"> <button class="choice b13">율현동</button></div>
        <div class="buttonbox a14"> <button class="choice b14">세곡동</button></div>
    </div>
    
</section>
</body>

</html>