<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--   자동 카멜케이스 스네이크 케이스 변환 설정     -->
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
    <typeAliases>
        <!--  entity 클래스 별칭 설정      -->
        <typeAlias alias="pet" type="company.friendsdog.dogcommunity.entity.Pet"/>
        <typeAlias alias="neighbor" type="company.friendsdog.dogcommunity.dto.response.PetCardResponseDTO"/>
        <typeAlias alias="user" type="company.friendsdog.dogcommunity.entity.User"/>
        <typeAlias alias="petBoard" type="company.friendsdog.dogcommunity.entity.Board"/>
        <typeAlias alias="reply" type="company.friendsdog.dogcommunity.entity.Reply" />
        <typeAlias alias="chat" type="company.friendsdog.dogcommunity.entity.Chat" />
        <typeAlias alias="place" type="company.friendsdog.dogcommunity.entity.Place" />

    </typeAliases>

    <mappers>
        <!-- Mapper XML files -->
        <mapper resource="mappers/PetMapper.xml"/>
        <mapper resource="mappers/UserMapper.xml"/>
        <mapper resource="mappers/BoardMapper.xml"/>
        <mapper resource="mappers/ReplyMapper.xml" />
        <mapper resource="mappers/ChatMapper.xml" />
        <mapper resource="mappers/PlaceMapper.xml" />

    </mappers>

</configuration>